.search-box {
  -webkit-appearance: none;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding: 10px;
  width: 650px;
  line-height: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .search-box {
    width: 90%;
  }
}
